@import "../styles/responsive.scss";

.App {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    gap: 30px;
}

.dropdown {
    margin: 80px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.containerCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include mobile {
        margin: -50px 0px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 30px 0px;
        justify-content:center;

        @include mobile {
            grid-template-columns: repeat(auto-fill, 150px);
        }
    }
}

.city {
    font-size: 35px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    color: var(--yellow);
    cursor: default;
}

.country {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: var(--subtitle);
    cursor: default;
}

.dayName {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    color: var(--green);
    cursor: default;
}

.day {
    width: 100%;
}

.containerRealtime {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    transform: scale(1.4);

    .click {
        color: var(--subtitle);
        font-weight: 400;

        @include mobile {
            margin-top: 10px;
            font-size: 14px;
        }
    }

    .also {
        color: var(--subtitle);
        font-weight: 400;
        font-size: 10px;
        margin-top: 5px;

        @include mobile {
            font-size: 8px;
        }
    }
}

.back {
    color: var(--yellow);
    position: absolute;

    top: 150px;
    left: 90px;
    font-size: 100px;
    cursor: pointer;
    // transform: translate(-50%, -50%);

    @include mobile {
        top: 48px;
        left: 10px;
        font-size: 50px;
    }
}

.change {
    height: 0;
    position: absolute;
    top: 150px;
    right: 90px;
    filter: hue-rotate(45deg) brightness(2.1) saturate(90%);
    cursor: pointer;

    @include mobile {
        position: relative;
        top: -60px;
        right: 0px;
        transform: scale(0.5);
    }
}

.loading {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
